body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgb(34, 32, 32);
  text-decoration: none
}

h2 {
  text-align: center;
  margin-top: 5%;
}

a:hover {
  color: black
}

.dinner {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home > h1 {
  text-align: center;
}

.CreatePlanRow {
  width: 25%;
  flex-direction: row;
  margin: 1.5%;
}

.CreatePlanFormGroup {
  display: flex;
  justify-content: space-around;
}

.CreatePlanForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2%;
}

.event {
  margin: 2%;
  text-align: center;
}